export DASHSCOPE_API_KEY=
export OSS_ACCESS_KEY_ID=
export OSS_ACCESS_KEY_SECRET=
export OSS_BUCKET=
export OSS_ENDPOINT=oss-cn-shanghai.aliyuncs.com
export OSS_OBJECT_KEY_PREFIX=asr-temp/video2md/
export OSS_READ_URL_TTL=2h
